<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="Information abotu Joshua Landon" content="">
	<meta name="Joshua Landon" content="">

	<link href="../styles/css/bootstrap.min.css" rel="stylesheet">
	<link href="../styles/css/custom.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<script src="../styles/js/respond.js"></script>
	<title>About Me</title>
</head>

<body>
	<!-- NAVBAR
	================================================== -->
		<div class="navbar-wrapper">
			<div class="container">
				<nav class="navbar navbar-inverse navbar-static-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="../main.html">Joshua Landon</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse row">
							<ul class="nav navbar-nav">
								<li><a href="../main.html">Home</a></li>
								<li class="active"><a href="about.html">About</a></li>
								<li><a href="../Views/Portfolio.html">Portfolio</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact Me <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Joshua Landon</a></li>
										<li><a href="https://mail.google.com/">joshualandon32@gmail.com</a></li>
										<li><a href="https://twitter.com/TheJoshLandon">@TheJoshLandon</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>

	<div class="container marketing">
		<div class="header">
			<h1>Who am I you ask?</h1>
			<p>Well let me tell you a little about myself if you don't mind</p>
		</div>

		<!--First three columns of stuff about me-->
		<div id="row-one" class="row">
			<div class="col-lg-4">
				<img src="http://i.imgur.com/lkReG4m.jpg" title="source: imgur.com" alt="Generic placeholder image" width="300" height="203">
				<h2>Scuba Diving</h2>
				<p>If I could go on a trip every summer to go scuba diving, I would. I love being underwater with all the sealife. It's a feeling like none other.</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img src="../content/images/PinecreekCathedral.jpg" title="source: imgur.com" alt="Generic placeholder image" width="300" height="203">
				<h2>Hiking/Canyoneering</h2>
				<p>I love being outdoors. I love hiking and especially canyoneering. Rapelling down a 100 foot cliff is quite the adrenaline rush.</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img src="../content/images/BYUtvlogo.png" alt="Generic placeholder image" width="300" height="203">
				<h2>BYU Broadcasting</h2>
				<p>Currently, I work at BYU broadcasting as part of the digital media team. I am a software tester. I work alongside all of the platform developers.</p>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->

		<!--Second three columns of stuff about me-->
		<div id="row-two" class="row">
			<div class="col-lg-4">
				<img src="http://i.imgur.com/HKbEvWc.jpg" title="source: imgur.com" alt="Generic placeholder image" width="300" height="203">
				<h2>BYU Sports</h2>
				<p>I would consider myself a BYU sports fanatic. I am currently on the ROC board helping with student sporting events and such. GO COUGARS!</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img src="http://i.imgur.com/ULRBbef.jpg" title="source: imgur.com" alt="Generic placeholder image" width="300" height="203">
				<h2>Skiing</h2>
				<p>Hitting the slopes is one of my favorite things to do during winter. Powder days all day!</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img src="http://i.imgur.com/b1dIGpz.jpg" title="source: imgur.com" alt="Generic placeholder image" width="300" height="203">
				<h2>Ice Fishing</h2>
				<p>Sometimes there is nothing better than sitting in an ice tent fishing large cutthroat trout at Strawberry Reservoir.</p>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->

	<!-- FOOTER -->
	<footer>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<p>
			© Joshua Landon <a href="https://www.facebook.com/thejoshualandon"><img src="http://i.imgur.com/bGZuuxf.png" height="33" /></a> <a href="https://twitter.com/TheJoshLandon"><img src="http://i.imgur.com/2Pm7kxj.png" title="source: imgur.com" height="35" /></a>
			<a href="http://thejoshualandon.tumblr.com/"><img src="http://i.imgur.com/Vp7A9Uw.png" title="source: imgur.com" height="31" /></a>
		</p>
	</footer>
	</div><!-- /.container -->
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="../styles/js/bootstrap.min.js"></script>
	<script src="../styles/js/holder.js"></script>
	</body>
</html>
