<!DOCTYPE html>

<html>
<head>
	<title>Josh's Resume - About</title>
	<link rel="stylesheet" href="/styles/site.css" />
</head>
<body>
	<section>
		<aside>
			<a href="../index.html"><img src="../content/images/Logo.gif" alt="Logo" /></a>
		</aside>
	</section>
	<h1>Joshua Landon</h1>
	<h2>Innovation</h2>

	<section>
		<nav>
			<a href="Views/About.html">ABOUT</a>
			<a href="">PORTFOLIO</a>
			<a href="">INTERESTS</a>
		</nav>
	</section>

	<main>
		<section>
			<section>
				<h1>About Me</h1>

				<p>
					<span style="color: white">WORK EXPERIENCE:</span> I am currently working at BYU Broadcasting working
					with the digital media team. We oversee the development
					of all web based applications for BYUtv, radio, and sports.
					I test for bugs in the BYU broadcasting websites, monitor
					server logs for any issues, and assist in design/styling
					improvements. I am also working part-time at North American Divers
					as a sales assistant. They do training courses for scuba certification
					and they also sell, rent, and repair scuba equipment.
				</p>

				<p>
					<span style="color: white">HOBBIES AND INTERESTS:</span> I love scuba diving. There is nothing more that
					I love than spending a week scuba diving in an amazing exotic place with bright
					blue ocean water. I am very much interested in sports, more of college sports.
					I have a passion for BYU football and basketball attending almost every game.
					I enjoy spending time outdoors skiing, hiking, canyoneering, and ice fishing.
				</p>
			</section>
		</section>

		<aside>
			<img src="/content/images/BYUtvlogo.png" id="BYUtvlogo"/>
			<img src="/content/images/NADiverslogo.png" id="NADivers"/>
		</aside>
	</main>

	<section>
		<footer>
			<p>
				Send me an email to request my resume and examples of work I have done!
			</p>
		</footer>
	</section>

	<!-- javascript -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
