<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="Information abotu Joshua Landon" content="">
	<meta name="Joshua Landon" content="">

	<link href="../styles/css/bootstrap.min.css" rel="stylesheet">
	<link href="../styles/css/custom.css" rel="stylesheet" />
	<link href="../styles/css/jumbotron-narrow.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<script src="../styles/js/respond.js"></script>
	<title>Marketing Mix</title>

	<!--Part of the html and css code has been taken from bootstrap templates-->
</head>
<body>
	<!-- NAVBAR
	================================================== -->
	<div class="navbar-wrapper">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="../main.html">Joshua Landon</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse row">
						<ul class="nav navbar-nav">
							<li><a href="../main.html">Home</a></li>
							<li><a href="../Views/about.html">About</a></li>
							<li><a href="../Views/Portfolio.html">Portfolio</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact Me <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Joshua Landon</a></li>
									<li><a href="https://mail.google.com/">joshualandon32@gmail.com</a></li>
									<li><a href="https://twitter.com/TheJoshLandon">@TheJoshLandon</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>


	<div class="container">
		<div class="jumbotron">
			<h1>Importance of Marketing</h1>
			<p class="lead">The goal of marketing is not to just create sales but to build brand loyalty. What would any business be without there loyal consumers?</p>
		</div>

		<hr class="featurette-divider">

		<div class="row marketing">
			<section>
				<div class="col-lg-6">
					<p>
						Marketing is the life blood of any company. You can be doing everything right in all of your departments; building a well-designed website, designing an innovative product, and creating a fortified budget.
						But if you have not established an intelligent marketing plan, your business will eventually crumble.<br><br />Marketing is all about getting the word out. It is all about creating conversation. Conversation
						ultimately drives business. If what you are doing is not driving conversation, then you need to reevaluate your marketing plan.<br /> <br />As we know, marketing encompasses advertising, public relations, promotions,
						and sales. The great thing about marketing is that creativity has no bounds. I feel that you can accomplish anything with the appropriate approach to marketing. Why put limits on what you believe you can do? Think big
						and aim higher.
					</p>
				</div>
			</section>

			<div class="col-lg-6">
				<p style="margin-top: 9px">
					I feel that all of the social media tools we have are the go-to-tool when carrying out a marketing plan. Social media has opened up so many doors to success. It almost allows businesses to create
					more personal relationships with their consumers. People have begun to feel more connected with their favorite brands because of social media.<br /><br />I have an innovative mindset. I feel that
					there is so much more to discover in the realm of marketing with social media. I believe that businesses can accomplish more than they ever have through social media marketing.<br /><br />I know
					that through the simplest of social media management, any business can accomplish more than they ever thought possible. I especially believe that small businesses have the same marketing power as
					a large business if they properly utilize the social media tools that exist today and in the future.
				</p>
			</div>
		</div>

		<!-- FOOTER -->
		<footer>
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>
				© Joshua Landon <a href="https://www.facebook.com/thejoshualandon"><img src="http://i.imgur.com/bGZuuxf.png" height="33" /></a> <a href="https://twitter.com/TheJoshLandon"><img src="http://i.imgur.com/2Pm7kxj.png" title="source: imgur.com" height="35" /></a>
				<a href="http://thejoshualandon.tumblr.com/"><img src="http://i.imgur.com/Vp7A9Uw.png" title="source: imgur.com" height="31" /></a>
			</p>
		</footer>
	</div><!-- /.container -->
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="../styles/js/bootstrap.min.js"></script>
	<script src="../styles/js/holder.js"></script>
</body>
</html>
